<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="password_container">
    <h3>Enter Password</h2>
    <form class="pass_form" action="/login" method="post">
        <input class="url_input" type="password" name="password" required placeholder="Password">
        <input class="login-button" type="submit" value="Login">
    </form>
    {% if error %}
        <div class="pass_msg_error">{{ error }}</div>
    {% endif %}
</div>
</body>
</html>
